PGHOST=127.0.0.1
PGPORT=15432
PGDATABASE=trabajoya
PGUSER=trabajoya_dbeaver
PGPASSWORD=poner_la_clave_de_dbeaver
HOST=127.0.0.1
API_PORT=8787
PUBLIC_APP_URL=http://127.0.0.1:8787
VITE_API_BASE_URL=http://127.0.0.1:8787
